/*
Change heading properties
*/
.divheader{
  color: #e7eced;
}

/*
Change pproperties for normal text
*/

.normaltext{
  color: #e7eced;
  font-size: 20px;
}

/*
Change the header 5 font sizes to 25px
*/

.h5{
  font-size: 25px;
}
